<a href="https://colab.research.google.com/github/patilhumesh88-spec/ASSIGNMENT/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
data=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [33]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [34]:
data.shape

(3000, 9)

In [35]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [36]:
x=data.iloc[:2:4].values
print("original data value:\n",x)

original data value:
 [[-1.2205e+02  3.7370e+01  2.7000e+01  3.8850e+03  6.6100e+02  1.5370e+03
   6.0600e+02  6.6085e+00  3.4470e+05]]

In [37]:
from sklearn import preprocessing
min_max_scaler=preprocessing.MinMaxScaler(feature_range=(0,1))
x_after_min_max_scaler=min_max_scaler.fit_transform(x)
print("after min max scaler:\n",x_after_min_max_scaler)

after min max scaler:
 [[0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [38]:
standardrization=preprocessing.StandardScaler()
x_after_standardization=standardrization.fit_transform(x)
print("after standard scaler:\n",x_after_standardization)

after standard scaler:
 [[0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [39]:
df['']

NameError: name 'df' is not defined