<a href="https://colab.research.google.com/github/patilhumesh88-spec/ASSIGNMENT/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
data=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [16]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [17]:
data.shape

(3000, 9)

In [18]:
data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [19]:
x=data.iloc[:2:4].values
print("original data value:\n",x)

original data value:
 [[-1.2205e+02  3.7370e+01  2.7000e+01  3.8850e+03  6.6100e+02  1.5370e+03
   6.0600e+02  6.6085e+00  3.4470e+05]]

In [20]:
from sklearn import preprocessing
min_max_scaler=preprocessing.MinMaxScaler(feature_range=(0,1))
x_after_min_max_scaler=min_max_scaler.fit_transform(x)
print("after min max scaler:\n",x_after_min_max_scaler)

after min max scaler:
 [[0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [21]:
standardrization=preprocessing.StandardScaler()
x_after_standardization=standardrization.fit_transform(x)
print("after standard scaler:\n",x_after_standardization)

after standard scaler:
 [[0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [22]:
data['housing_median_age'].unique()

array([27., 43., 28., 19., 37., 15., 31., 45., 36., 16., 42., 26., 35.,
       40., 47., 13., 52., 32., 30., 14., 34., 17.,  5., 38., 33., 11.,
       48.,  4., 24.,  6., 21., 39., 10., 44., 18., 12., 22., 29., 46.,
       50., 20., 49., 25., 23., 41.,  8.,  3.,  7.,  9.,  2., 51.,  1.])

In [23]:
label_encoder=preprocessing.LabelEncoder()
data['housing_median_age']=label_encoder.fit_transform(data['housing_median_age'])
data['housing_median_age'].unique()

array([26, 42, 27, 18, 36, 14, 30, 44, 35, 15, 41, 25, 34, 39, 46, 12, 51,
       31, 29, 13, 33, 16,  4, 37, 32, 10, 47,  3, 23,  5, 20, 38,  9, 43,
       17, 11, 21, 28, 45, 49, 19, 48, 24, 22, 40,  7,  2,  6,  8,  1, 50,
        0])

In [24]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,26,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,42,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,26,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,27,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,18,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,22,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,26,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,9,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,39,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,41,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [25]:
import pandas as pd
import numpy as np

In [30]:
df=pd.read_csv('/Exam_Score_Prediction.csv')

In [31]:
df

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19997,18,other,bba,6.50,71.3,yes,5.0,good,self-study,low,easy,86.5
19996,19998,18,male,b.com,3.71,41.6,no,5.9,average,coaching,medium,moderate,60.9
19997,19999,19,other,diploma,7.88,68.2,yes,4.6,poor,group study,low,easy,64.5
19998,20000,19,male,bba,4.60,76.3,no,6.1,good,self-study,medium,moderate,79.0
19999,20001,20,male,b.sc,7.50,47.9,yes,7.5,poor,coaching,medium,moderate,71.0

In [33]:
df['internet_access'].unique()

array(['yes', 'no'], dtype=object)

In [34]:
df['gender'].unique()

array(['male', 'other', 'female'], dtype=object)

In [35]:
df['gender'].value_counts()

gender
other     6726
male      6695
female    6579
Name: count, dtype: int64

In [37]:
df['internet_access'].value_counts()

internet_access
yes    16988
no      3012
Name: count, dtype: int64

In [39]:
one_hot_encoding=pd.get_dummies(df,columns=['gender','internet_access'])
print(one_hot_encoding)

       student_id  age   course  study_hours  class_attendance  sleep_hours  \
0               1   17  diploma         2.78              92.9          7.4
1               2   23      bca         3.37              64.8          4.6
2               3   22     b.sc         7.88              76.8          8.5
3               4   20  diploma         0.67              48.4          5.8
4               5   20  diploma         0.89              71.6          9.8
...           ...  ...      ...          ...               ...          ...
19995       19997   18      bba         6.50              71.3          5.0
19996       19998   18    b.com         3.71              41.6          5.9
19997       19999   19  diploma         7.88              68.2          4.6
19998       20000   19      bba         4.60              76.3          6.1
19999       20001   20     b.sc         7.50              47.9          7.5

      sleep_quality   study_method facility_rating exam_difficulty  \
0              poor       coaching             low            hard
1           average  online videos          medium        moderate
2              poor       coaching            high        moderate
3           average  online videos             low        moderate
4              poor       coaching             low        moderate
...             ...            ...             ...             ...
19995          good     self-study             low            easy
19996       average       coaching          medium        moderate
19997          poor    group study             low            easy
19998          good     self-study          medium        moderate
19999          poor       coaching          medium        moderate

       exam_score  gender_female  gender_male  gender_other  \
0            58.9          False         True         False
1            54.8          False        False          True
2            90.3          False         True         False
3            29.7          False        False          True
4            43.7           True        False         False
...           ...            ...          ...           ...
19995        86.5          False        False          True
19996        60.9          False         True         False
19997        64.5          False        False          True
19998        79.0          False         True         False
19999        71.0          False         True         False

       internet_access_no  internet_access_yes
0                   False                 True
1                   False                 True
2                   False                 True
3                   False                 True
4                   False                 True
...                   ...                  ...
19995               False                 True
19996                True                False
19997               False                 True
19998                True                False
19999               False                 True

[20000 rows x 16 columns]